
  * {
    box-sizing: border-box;
  }
  
  .centeredDiv {
    padding-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 600px;
  }
  
  div.ex1{
    color: red;
  }

  div #DetailsDIV{
    text-align:left;
  }
  